Cmds/* binary
Defs/** filter=crtext
Lib/* binary
Sys/** filter=crtext

*.ipc binary

*.a filter=crtext
*.c filter=crtext
*.doc filter=crtext
*.h filter=crtext
*.hlp filter=crtext
*.lsp filter=crtext
*.man filter=crtext
*.txt filter=crtext
*.README filter=crtext
comp.* filter=crtext
Source/**/[Mm]ake* filter=crtext
Source/**/yacc* filter=crtext

COPYING	filter=crtext
README filter=crtext
MANUAL filter=crtext
