Cmds/* binary
Defs/* filter=crtext
Lib/* binary
Sys/* filter=crtext

*.a filter=crtext
*.c filter=crtext
*.h filter=crtext
*.hlp filter=crtext
*.lsp filter=crtext
*.man filter=crtext
comp.* filter=crtext
make.* filter=crtext
[Mm]akefile* filter=crtext

README filter=crtext
MANUAL filter=crtext
