*.[or]
!/Lib/*.r
core
Source/Libs/KLibc/clib.l
Source/Libs/KLibc/clibt.l
Source/Libs/KLibc/fmath/cfloats.l
Source/Libs/KLibc/imath/math.l
Source/Libs/KLibc/lib.a/main.l
Source/Libs/KLibc/lib.c/cstuff.l
Source/Libs/KLibc/lib.c/dbg.l
Source/Libs/KLibc/sys.a/syslib.l
Source/Libs/KLibc/tmath/trans.l
